alabaster==0.7.12
arrayfire==3.6.20181017
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
docutils==0.16
future==0.18.2
h5py==2.10.0
hilbertcurve==1.0.3
idna==2.10
imagecodecs==2020.2.18
imageio==2.8.0
imagesize==1.2.0
Jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
networkx==2.4
nose==1.3.7
numpy==1.18.2
odl==0.7.0
packaging==20.3
pandas==1.0.3
Pillow==7.0.0
Pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
requests==2.24.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==3.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tifffile==2020.2.16
urllib3==1.25.10
